@{
    ViewData["Title"] = "Curso page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Cadastre o curso</h1>
        
        <hr />
       
        <input type="text" class="form-control" placeholder="Incluir Curso" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button type="button" class="btn btn-success">Cadastrar</button>
        <hr />

    </div>
</body>
</html>